:root {
    /* change the values below to your colors from your palette */
    --primary-color: #081C15;
    /* Ming (Blue) */
    --secondary-color: #D8F3DC;
    /* White */
    --accent1-color: #c5b8bb;
    /* Jet */
    --accent2-color: #7c4c4c;
    /* Gainsboro */
    --accent3-color: #272626;
    /* Deep Chestnut */
     --heading-font: "Saira Semi Condensed", Sans-Serif, Helvetica;
     --paragraph-font: "Overpass", Sans-Serif, Helvetica;
   }
table {
    font-family: Ubuntu, Cantarell, sans-serif;
    font-size: 12pt;
    color: Black;
    margin: 10px auto;
    border: thin solid black;
    box-shadow: 6px 4px 18px black;
    border-collapse: collapse;
    text-align: center;
  }
  
  tr:first-child th {
    background-color: var(--primary-color);
    color: white;
    font-size: 20pt;
  }
  
  th,
  td {
    padding: 7px 15px;
    border: 1px solid black;
  }
  
  th {
    background-color: var(--secondary-color);
    color: white;
  }
  
  #highlight {
    background-color: var(--secondary-color);
    color: white;
  }
  
  tr:nth-child(odd) {
    background-color: var(--accent1-color);
  }
  
  tr:nth-child(even) {
    background-color: var(--accent2-color);
  }
  
  tfoot td {
    background-color: var(--secondary-color);
    font-weight: bold;
    color: white;
  }
  